<!DOCTYPE html>
<html>
  <head>
    <title>LetterOpenerWeb Demo</title>
    <%= stylesheet_link_tag "letter_opener_web/bootstrap.min" %>
    <style>
      body {
        padding-top: 20px;
      }

      .alert {
        margin-top: 20px;
      }

      h1, .footer {
        text-align: center;
      }

      .icon-white {
        background-image: url(<%=asset_path "letter_opener_web/glyphicons-halflings-white.png"%>);
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
